@mixin flex($type:row, $align:center, $vertical:center){
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox; 
  display: -webkit-flex; 
  display: flex; 
  -webkit-box-direction: normal;
  -moz-box-direction: normal; 
  -webkit-align-content: stretch; 
  -ms-flex-line-pack: stretch; 
  align-content: stretch; 
  
  /* HORIZONTAL ALIGNMENT */
  @if $align == left {
    @include content-left;
  } 
  @else if $align == right {
    @include content-right;
  }
  @else if $align == justify {
    @include content-justify;
  }
  @else { 
    @include content-Hcenter; 
  }
  /* FLEX TYPE */
  @if $type == row {
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal; 
    -webkit-flex-direction: row; 
    -ms-flex-direction: row; 
    flex-direction: row; 
    -webkit-flex-wrap: nowrap; 
    -ms-flex-wrap: nowrap; 
    flex-wrap: nowrap;     
  }
  @else {
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical; 
    -webkit-flex-direction: column; 
    -ms-flex-direction: column; 
    flex-direction: column; 
    -webkit-flex-wrap: nowrap; 
    -ms-flex-wrap: nowrap; 
    flex-wrap: nowrap; 
  }

  @if $vertical == top {
    @include content-top;
  }
  @if $vertical == bottom {
    @include content-bottom;
  }
  @else {
    @include content-Vcenter;
  }

}

/* +++ HORIZONTAL ALIGNMENT +++ */
@mixin content-Hcenter {
    -webkit-box-pack: center; 
    -moz-box-pack: center; 
    -webkit-justify-content: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
}
@mixin content-left {
    -webkit-box-pack: start!important;
    -moz-box-pack: start!important;
    -webkit-justify-content: flex-start!important;
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}

@mixin content-right {
    -webkit-box-pack: end!important;
    -moz-box-pack: end!important;
    -webkit-justify-content: flex-end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;


}
@mixin content-justify {
    -webkit-box-pack: justify!important;
    -moz-box-pack: justify!important;
    -webkit-justify-content: space-between!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

@mixin content-around {
    -webkit-box-pack: justify!important;
    -moz-box-pack: justify!important;
    -webkit-justify-content: space-around!important;
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;    
}


/* +++ VERTICAL ALIGNMENT +++ */
@mixin content-top {
    -webkit-box-align: start!important; 
    -moz-box-align: start!important; 
    -webkit-align-items: flex-start!important; 
    -ms-flex-align: start!important; 
    align-items: flex-start!important; 
}

@mixin content-bottom {
    -webkit-box-align: end!important;
    -moz-box-align: end!important;
    -webkit-align-items: flex-end!important;
    -ms-flex-align: end!important;
    align-items: flex-end!important;
}
@mixin content-Vcenter {
    -webkit-box-align: center!important;
    -moz-box-align: center!important;
    -webkit-align-items: center!important;
    -ms-flex-align: center!important;
    align-items: center!important;
}

@mixin content-stretch {
    -webkit-box-align: stretch!important;
    -moz-box-align: stretch!important;
    -webkit-align-items: stretch!important;
    -ms-flex-align: stretch!important;
    align-items: stretch!important;
}

@mixin align-child-top{
      -webkit-align-self: flex-start !important;
    -ms-flex-item-align: start !important;
    align-self: flex-start !important;
}
@mixin align-child-center{
  -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}

// FLEX CONTENT - FLUID SIZE 

@mixin fluid{
  -webkit-box-ordinal-group: 1; 
  -moz-box-ordinal-group: 1; 
  -webkit-order: 0; 
  -ms-flex-order: 0; 
  order: 0; 
  -webkit-box-flex: 1; 
  -moz-box-flex: 1; 
  -webkit-flex: 1 1 auto; 
  -ms-flex: 1 1 auto; 
  flex: 1 1 auto; 
  -webkit-align-self: auto; 
  -ms-flex-item-align: auto; 
  align-self: auto; 
}

// FLEX CONTENT - FIXED SIZE 

@mixin fixed{
  -webkit-box-ordinal-group: 1; 
  -moz-box-ordinal-group: 1; 
  -webkit-order: 0; 
  -ms-flex-order: 0; 
  order: 0; 
  -webkit-box-flex: 0; 
  -moz-box-flex: 0; 
  -webkit-flex: 0 1 auto; 
  -ms-flex: 0 1 auto; 
  flex: 0 1 auto; 
  -webkit-align-self: auto;
  -ms-flex-item-align: auto; 
  align-self: auto; 
}

@mixin fixed-width ($width){
  width: $width;
  min-width: $width;
  max-width: $width;
}
