/// FONT DE ICONS
/// VERSION: 2.1
/// LAST UPDATE: 7/3/2016

@font-face {
  font-family: 'customer-font';
  src:url('#{$font-path}/icons/customer-fontv2.eot?w39upw');
  src:url('#{$font-path}/icons/customer-fontv2.eot?#iefixw39upw') format('embedded-opentype'),
    url('#{$font-path}/icons/customer-fontv2.ttf?w39upw') format('truetype'),
    url('#{$font-path}/icons/customer-fontv2.woff?w39upw') format('woff'),
    url('#{$font-path}/icons/customer-fontv2.svg?w39upw#customer-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'customer-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down:before {
    content: "\e900";
}
.icon-arrow-left:before {
    content: "\e901";
}
.icon-arrow-right:before {
    content: "\e902";
}
.icon-arrow-up:before {
    content: "\e903";
}
.icon-barcode:before {
    content: "\e904";
}
.icon-camera:before {
    content: "\e905";
}
.icon-cart:before {
    content: "\e906";
}
.icon-categories:before {
    content: "\e907";
}
.icon-chat:before {
    content: "\e908";
}
.icon-check:before {
    content: "\e909";
}
.icon-clock-full:before {
    content: "\e90a";
}
.icon-clock:before {
    content: "\e90b";
}
.icon-close:before {
    content: "\e90c";
}
.icon-coupons:before {
    content: "\e90d";
}
.icon-edit:before {
    content: "\e90e";
}
.icon-email:before {
    content: "\e90f";
}
.icon-eye:before {
    content: "\e910";
}
.icon-facebook:before {
    content: "\e911";
}
.icon-favorite-list-full:before {
    content: "\e912";
}
.icon-favorite-list:before {
    content: "\e913";
}
.icon-filter:before {
    content: "\e914";
}
.icon-flyers:before {
    content: "\e915";
}
.icon-gift:before {
    content: "\e916";
}
.icon-home:before {
    content: "\e917";
}
.icon-inbox:before {
    content: "\e918";
}
.icon-info:before {
    content: "\e919";
}
.icon-list:before {
    content: "\e91a";
}
.icon-location:before {
    content: "\e91b";
}
.icon-logout:before {
    content: "\e91c";
}
.icon-main-list-full:before {
    content: "\e91d";
}
.icon-main-list:before {
    content: "\e91e";
}
.icon-minus:before {
    content: "\e91f";
}
.icon-more:before {
    content: "\e920";
}
.icon-move:before {
    content: "\e921";
}
.icon-order:before {
    content: "\e922";
}
.icon-password:before {
    content: "\e923";
}
.icon-plus:before {
    content: "\e924";
}
.icon-products:before {
    content: "\e925";
}
.icon-promotion-full:before {
    content: "\e926";
}
.icon-promotion:before {
    content: "\e927";
}
.icon-search:before {
    content: "\e928";
}
.icon-settings-2:before {
    content: "\e929";
}
.icon-settings:before {
    content: "\e92a";
}
.icon-share:before {
    content: "\e92b";
}
.icon-sms:before {
    content: "\e92c";
}
.icon-star-full:before {
    content: "\e92d";
}
.icon-star:before {
    content: "\e92e";
}
.icon-trash:before {
    content: "\e92f";
}
.icon-user:before {
    content: "\e930";
}
.icon-view-card:before {
    content: "\e931";
}
.icon-view-column:before {
    content: "\e932";
}
.icon-view-list:before {
    content: "\e933";
}
