
/// FONT DE ICONS
@font-face {
  font-family: $font-icons;
  src:url('#{$font-path}/icons/customer-fontv2.eot?w39upw');
  src:url('#{$font-path}/icons/customer-fontv2.eot?#iefixw39upw') format('embedded-opentype'),
    url('#{$font-path}/icons/customer-fontv2.ttf?w39upw') format('truetype'),
    url('#{$font-path}/icons/customer-fontv2.woff?w39upw') format('woff'),
    url('#{$font-path}/icons/customer-fontv2.svg?w39upw#customer-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'customer-font';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow-left:before {
  content: "\e600";
}
.icon-arrow-right:before {
  content: "\e601";
}
.icon-barcode:before {
  content: "\e602";
}
.icon-camera:before {
  content: "\e603";
}
.icon-cart:before {
  content: "\e604";
}
.icon-chat:before {
  content: "\e605";
}
.icon-check:before {
  content: "\e606";
}
.icon-clock:before {
  content: "\e607";
}
.icon-close:before {
  content: "\e608";
}
.icon-coupons:before {
  content: "\e609";
}
.icon-edit:before {
  content: "\e60a";
}
.icon-eye:before {
  content: "\e60b";
}
.icon-favorites-full:before {
  content: "\e60c";
}
.icon-favorites:before {
  content: "\e60d";
}
.icon-filter:before {
  content: "\e60e";
}
.icon-flyers:before {
  content: "\e60f";
}
.icon-gift:before {
  content: "\e610";
}
.icon-inbox:before {
  content: "\e611";
}
.icon-info:before {
  content: "\e612";
}
.icon-list:before {
  content: "\e613";
}
.icon-location:before {
  content: "\e614";
}
.icon-logout:before {
  content: "\e615";
}
.icon-minus:before {
  content: "\e616";
}
.icon-more:before {
  content: "\e617";
}
.icon-move:before {
  content: "\e618";
}
.icon-order:before {
  content: "\e619";
}
.icon-password:before {
  content: "\e61a";
}
.icon-plus:before {
  content: "\e61b";
}
.icon-products:before {
  content: "\e61c";
}
.icon-search:before {
  content: "\e61d";
}
.icon-settings-2:before {
  content: "\e61e";
}
.icon-settings:before {
  content: "\e61f";
}
.icon-share:before {
  content: "\e620";
}
.icon-star-full:before {
  content: "\e621";
}
.icon-star:before {
  content: "\e622";
}
.icon-trash:before {
  content: "\e623";
}
.icon-user:before {
  content: "\e624";
}
.icon-view-column:before {
  content: "\e625";
}
.icon-view-list:before {
  content: "\e626";
}
.icon-email:before {
  content: "\e627";
}
.icon-facebook:before {
  content: "\e628";
}
.icon-home:before {
  content: "\e629";
}
.icon-sms:before {
  content: "\e62a";
}
