.tabbed-slidebox .slider {
  height: 100%;
}
.tabbed-slidebox.btm .slider {
  margin-bottom: -50px;
}
.tabbed-slidebox .slider-slides {
  width: 100%;
}

.tabbed-slidebox .slider-slide {
  padding-top: 0px;
  color: #000;
  background-color: #fff;
  text-align: center;
}

.tabbed-slidebox .tsb-icons {
  text-align: center;
  padding: 10px 0;
  position: relative;
  background-color:#fff;
}

.tabbed-slidebox .tsb-ic-wrp {
  display: flex;
  position: relative;
  -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
  -webkit-transform:translate3d(0,0,0);
}

.tsb-hscroll.scroll-view{
  white-space: nowrap;
  margin:0 auto;
  width:100%;
}
.tsb-hscroll.scroll-view .scroll-bar{
  visibility:hidden;
}
.tsb-hscroll.scroll-view .scroll.onscroll{
  -webkit-transition: -webkit-transform 0.3s; /* For Safari 3.1 to 6.0 */
}

.tabbed-slidebox .tsb-icons .scroll a{
  display: inline-block;
  @include fontfamily(sans);
  width:auto;
  font-size:$font-size-base - 1;    
  text-transform:uppercase;
  text-decoration: none;
  padding: 5px 10px;
  margin: 0 5px; 
}

.tabbed-slidebox .tsb-icons .scroll a.active {
    @extend .imageBackground;
    @extend .round-square;
    //@include box-shadow (inset 0 1px 2px 0 rgba(0,0,0,0.2));
    background-size:200%;
    border:rgba(255,255,255,0.2);   
    color: $light;  
}