.mrs-home-grid{
	margin:10px 0;
	padding-bottom:30px;
	.row{		
		margin: 0;
		padding: 0;	
		.col{			
			@include box-sizing(border-box);
			position:relative;			
			padding:0;			
			margin-bottom:5px;
			max-height:140px;
			overflow:hidden;			
		}	
		.col-50{
			margin-right:2px;		
			max-height:110px;
		}
		.col-50 + .col-50{
			margin-right:0;
			margin-left:2px;
		}

		img{
			width:100%;
		}		

	}
	.col-title{
		@include box-sizing(border-box);		
		position:absolute;		
		z-index: 1;		
		text-transform: uppercase;
		width:120px;
		height: 100%;
		left:20px;
		top:0;
		padding:90px 0 0 0;		
		text-align: center;
		color: $light;
		text-shadow: 1px 1px rgba(0,0,0,0.2);
		font-size: $font-size-large;
		line-height:$font-size-large - 1;
		background-color:$brand-color;

		&.image-background{
			background-image:$appBackground-transparent;
			background-repeat:no-repeat;
			background-size: cover;
			background-position: 0;
		}

		.icon{
			border: 1px solid $light;
			display: block;
			font-size: $icon-font-size-big;
			padding: 4px;
			position:absolute;
			left:0;
			right:0;
			top:10px;
			margin:auto;
			max-width:70px;
			max-height:70px;
			min-height:70px;
			color:$dark;
		}		
	}

	.col-50 > .col-title{
		height: 60px;	
		width:100%;
		left:0;
		bottom:10px;
		top:auto;
		margin: 0;
		padding:12px 0 0 60px;
		text-align:left;
		.icon{
			font-size: $icon-font-size;
			padding: 0px;
			display: inline-block;
			left:10px;
			top:10px;
			right:auto;
			min-height:40px;
			min-width:40px;

		}		
	}
}


