.mrs-tabs{
	.tabs{
		border: 0;
		border-color: transparent;
		border-top: transparent;
		border-bottom: transparent;
		height:48px;

		.tab-item{
			position: relative;			
			border:0;		
			span{					
				position:relative;
				display:block;
				font-size:$font-size-small;		
				@include fontfamily(sans);
			}			
			i{
				line-height:30px!important;
				height:30px;
				position: relative;
				&:before{
					font-size:$icon-font-size;
				}
			}
			.badge{			
				line-height:16px!important;			
			}
			&.tab-item-active{			
				// overflow: visible;					
			}
			&.activated{
				opacity: 1 !important;
			}
		}		
	}
}


&.bottomHide{
	.tabs{
		@include transform(translate3d(0px, 122%, 0));
	}
}

.effect{
	display: block;
	position: absolute;
	background: rgba(221, 25, 33, 0.7);
	border-radius: 100%;
	transform: scale(0);
	-webkit-transform: scale(0);
	left: 50%;
	top:50%;
	margin-top:-16px;
	margin-left: -16px;
	width: 35px;
	height: 35px;
	z-index:-1;
	&.animationCart{
		@include transition(all 0.35s linear);
		transform: scale(2.5);
		-webkit-transform: scale(2.5);
		opacity: 0;
	}
}

