.mrs-grid{
	margin-top:20px;
	font-family:$font-family-sans-serif;
	.row{			
		margin:0;
		padding:0;

		.col{			
			@include box-sizing(border-box);
			position:relative;			
			padding:0;			
			margin-bottom:5px;
			min-height:40px;
			max-height:165px;
			overflow:hidden;
			line-height:0;
			.row + .row{				
				.col{
					margin-bottom:0;					
				}
			}			
		}	
		.col-50{
			margin-right:2px;		
		}
		.col-50 + .col-50{
			margin-right:0;
			margin-left:2px;
		}
	}
	.row-tall{
		.col{
			max-height:160px;
		}
		.col-50{
			max-height:325px;	
		}
	}
	.col-title{
		@include box-sizing(border-box);		
		position:absolute;		
		z-index: 1;
		bottom: 0;
		left: 0;
		right: 0;
		padding: 5px 10px;
		text-transform: uppercase;
		font-size: $font-size-base + 1;
		line-height: $font-size-base + 1;
		color:$light;
		background-color:$brand-color;
		&.image-background{
			background-image:$appBackground-transparent;
			background-repeat:no-repeat;
			background-size: cover;
			background-position: 0;
			background-color:transparent;
		}

	}
	img{
		width: 100%;
	}

	&.mrs-grid-complex{
		.col-title{		
			width:120px;
			height: 100%;
			left:20px;
			top:0;
			padding:90px 0 0 0;		
			text-align: center;
			color: $light;
			text-shadow: 1px 1px rgba(0,0,0,0.2);
			font-size: $font-size-large;
			line-height:$font-size-large - 1;	
			.icon{
				border: 1px solid $light;
				display: block;
				font-size: $icon-font-size-big;
				padding: 4px;
				position:absolute;
				left:0;
				right:0;
				top:10px;
				margin:auto;
				max-width:70px;
				max-height:70px;
				min-height:70px;
				color:$dark;
			}		
		}

		.col-50 > .col-title{
			height: 60px;	
			width:100%;
			left:0;
			bottom:10px;
			top:auto;
			margin: 0;
			padding:12px 0 0 60px;
			text-align:left;
			.icon{
				font-size: $icon-font-size;
				padding: 0px;
				display: inline-block;
				left:10px;
				top:10px;
				right:auto;
				min-height:40px;
				min-width:40px;
			}		
		}
	}
}


