<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script type="text/javascript">angular.module('starter', ['ionic']);</script>

<link rel="stylesheet" href="../dist/lib/ionic/css/ionic.css">
  <link rel="stylesheet" href="../dist/css/mrs-lists.css">
</head>

<body ng-app="starter" >
    <ion-pane>
        <ion-content>
            
            <!-- *** basic list ***-->
            <div class="list mrs-basic-list" ng-class="{'editMode': showDelete}" >
                <div class="item" >                    
                    <span class="item-name">List Item</span>                            
                </div>

                <div class="item icon-right" ng-click="">                   
                    <span class="item-name">List Item</span>
                    <i class="icon icon-arrow-right" ></i>                    
                </div>
            </div>

            <!-- *** editable list ***-->
            <div class="list mrs-basic-list editable-list" ng-class="{'editMode': showDelete}" >
                <div class="item item-checkbox icon-right" >
                    <label class="checkbox checkbox-input-hidden checkbox-circle">
                        <input type="checkbox" ng-model="item.checked" ng-checked="selectAllBol" class="ng-pristine ng-untouched ng-valid" ng-change="countCheckbox(item.checked, $index)">
                        <i class="checkbox-icon"></i>                    
                    </label>
                    <span class="item-name">List Item</span>
                    <i class="icon icon-search" ng-click=""></i>                    
                </div>

                <div class="item item-checkbox icon-right" >
                    <label class="checkbox checkbox-input-hidden checkbox-circle">
                        <input type="checkbox" ng-model="item.checked" ng-checked="selectAllBol" class="ng-pristine ng-untouched ng-valid" ng-change="countCheckbox(item.checked, $index)">
                        <i class="checkbox-icon"></i>                    
                    </label>
                    <span class="item-name">List Item</span>
                    <i class="icon icon-search" ng-click=""></i>                    
                </div>
            </div>


            <!-- *** editable list : EDIT MODE ***-->
            <div class="list mrs-basic-list editable-list editMode" ng-class="{'editMode': showDelete}" >
                <div class="item item-checkbox icon-right" >
                    <label class="checkbox checkbox-input-hidden checkbox-circle">
                        <input type="checkbox" ng-model="item.checked" ng-checked="selectAllBol" class="ng-pristine ng-untouched ng-valid" ng-change="countCheckbox(item.checked, $index)">
                        <i class="checkbox-icon"></i>                    
                    </label>
                    <span class="item-name">List Item</span>
                    <i class="icon icon-search" ng-click=""></i>                    
                </div>

                <div class="item item-checkbox icon-right" >
                    <label class="checkbox checkbox-input-hidden checkbox-circle">
                        <input type="checkbox" ng-model="item.checked" ng-checked="selectAllBol" class="ng-pristine ng-untouched ng-valid" ng-change="countCheckbox(item.checked, $index)">
                        <i class="checkbox-icon"></i>                    
                    </label>
                    <span class="item-name">List Item</span>
                    <i class="icon icon-search" ng-click=""></i>                    
                </div>
            </div>

            <!-- PRODUCTS LIST - SHOPPING LIST-->
            <H1>SHOPPING LIST</H1>
            <div class="list product-list editable-list" ng-class="{'editMode': showDelete}">
                <div class="item-divider">Categoria X</div>
                <div class="item item-avatar item-checkbox" >
                    <img src="http://placehold.it/180x180">
                    <div class="product-name">
                        <div>Item Name</div>
                        <span>Item Brand</span>
                    </div>
                    <div class="product-price">
                        €0,00
                    </div>
                    <div class="item-actions item-actions-vertical">
                        <button class="button button-clear icon-plus icon button-add" on-hold="onHold($index, true)" ng-click="addQuantity($index); $event.stopPropagation();"></button>
                        <div class="quantity">1</div>
                        <button class="button button-clear icon icon-minus button-remove removeButtonAnim"></button>
                    </div>
                    <label class="checkbox checkbox-input-hidden checkbox-circle">
                        <input type="checkbox" ng-model="item.checked" ng-checked="selectAllBol" class="ng-pristine ng-untouched ng-valid" ng-change="countCheckbox(item.checked, $index)">
                        <i class="checkbox-icon"></i>                    
                    </label>
                </div>
                <div class="item item-avatar item-checkbox" >
                    <img src="http://placehold.it/180x180">
                    <div class="product-name">
                        <div>Item Name</div>
                        <span>Item Brand</span>
                    </div>
                    <div class="product-price">
                        €0,00
                    </div>
                    <!-- **********************************
                        ITEM ACTIONS WITHOUT BUTTON-ADDFIRST 
                        IN SHOOPING LIST ONLY NEEDS BUTTON-ADD
                        *************************************-->
                    <div class="item-actions item-actions-vertical">
                        <button class="button button-clear icon-plus icon button-add" on-hold="onHold($index, true)" ng-click="addQuantity($index); $event.stopPropagation();"></button>
                        <div class="quantity">1</div>
                        <button class="button button-clear icon-minus icon button-remove removeButtonAnim" ng-if---="item.quantity > 0" ng-click="removeQuantity($index); $event.stopPropagation();"></button>
                    </div>

                    <label class="checkbox checkbox-input-hidden checkbox-circle">
                        <input type="checkbox" ng-model="item.checked" ng-checked="selectAllBol" class="ng-pristine ng-untouched ng-valid" ng-change="countCheckbox(item.checked, $index)">
                        <i class="checkbox-icon"></i>                    
                    </label>
                </div>                
            </div>


            <!-- PRODUCTS LIST - SHOPPING LIST : EDIT MODE-->
            <H1>SHOPPING LIST - EDIT MODE</H1>
            <div class="list product-list editable-list editMode" ng-class="{'editMode': showDelete}">
                <div class="item-divider">Categoria X</div>
               
                <div class="item item-avatar item-checkbox" >
                    <img src="http://placehold.it/180x180">
                    <div class="product-name">
                        <div>Item Name</div>
                        <span>Item Brand</span>
                    </div>
                    <div class="product-price">
                        €0,00
                    </div>
                    <div class="item-actions item-actions-vertical">
                        <button class="button button-clear icon-plus icon button-add" on-hold="onHold($index, true)" ng-click="addQuantity($index); $event.stopPropagation();"></button>
                        <div class="quantity">1</div>
                        <button class="button button-clear icon-minus icon button-remove" ng-if---="item.quantity > 0" ng-click="removeQuantity($index); $event.stopPropagation();"></button>
                    </div>
                    <label class="checkbox checkbox-input-hidden checkbox-circle">
                        <input type="checkbox" ng-model="item.checked" ng-checked="selectAllBol" class="ng-pristine ng-untouched ng-valid" ng-change="countCheckbox(item.checked, $index)">
                        <i class="checkbox-icon"></i>                    
                    </label>
                </div>

                <div class="item item-avatar item-checkbox" >
                    <img src="http://placehold.it/180x180">
                    <div class="product-name">
                        <div>Item Name</div>
                        <span>Item Brand</span>
                    </div>
                    <div class="product-price">
                        €0,00
                    </div>
                    <div class="item-actions item-actions-vertical">
                        <button class="button button-clear icon-plus icon button-add" on-hold="onHold($index, true)" ng-click="addQuantity($index); $event.stopPropagation();"></button>
                        <div class="quantity">1</div>
                        <button class="button button-clear icon-minus icon button-remove" ng-if---="item.quantity > 0" ng-click="removeQuantity($index); $event.stopPropagation();"></button>
                    </div>
                    <label class="checkbox checkbox-input-hidden checkbox-circle">
                        <input type="checkbox" ng-model="item.checked" ng-checked="selectAllBol" class="ng-pristine ng-untouched ng-valid" ng-change="countCheckbox(item.checked, $index)">
                        <i class="checkbox-icon"></i>                    
                    </label>
                </div>                
            </div>            
        </div>


        <HR/>
        <H1>PRODUCTS LIST</H1>
        
        <!-- **************** ONE COLUMN LIST ***************** -->
        <h1>ONE COLUMN LIST</h1>
        <div class="list product-list"  >
            <div class="item item-avatar item-checkbox" >
                <img src="http://placehold.it/180x180">
                <div class="product-name">
                    <div>Item Name</div>
                    <span>Item Brand</span> 
                </div>
                <div class="product-price">
                    €0,00
                </div>

                <!-- 
                    ITEM ACTIONS WITH BUTTON-ADD 
                -->
                <div class="item-actions item-actions-vertical">
                    <button class="button button-clear icon icon-plus button-addfirst addButtonAnim"></button>   
                    <!--                     
                    <div class="quantity" ng-if="products[$index].quantity > 0">
                        1
                    </div>
                    <button class="button button-clear icon icon-minus button-remove"  ng-class="{'removeButtonAnim':products[$index].quantity}" ng-click="removeQuantity($index); $event.stopPropagation()"></button>
                    -->
                </div>

            </div>


            <div class="item item-avatar item-checkbox" >
                <img src="http://placehold.it/180x180">
                <div class="product-name">
                    <div>Item Name</div>
                    <span>Item Brand</span> 
                </div>
                <div class="product-price">
                    €0,00
                </div>
                 <div class="item-actions item-actions-vertical">
                
                    <button class="button button-clear icon icon-plus button-add"></button>      
                    <div class="quantity">
                        1
                    </div>
                    <button class="button button-clear icon icon-minus button-remove removeButtonAnim"  ></button>
                    
                </div>

            </div>            
        </div>


<h1>GRID LIST / DUAL COLUMN</h1>

        <!-- **********   DUAL COLUMN/GRID LIST ********* -->
        <div class="product-list dual-column">
            <div class="row" >
                <div class="col">
                  
                    <a href="#">
                        <div class="product-thumb">
                            <img src="http://placehold.it/180x180">
                        </div>
                        <div class="product-name">
                            <div>Item Name</div>
                            <span>Item Brand</span>
                        </div>
                       <div class="product-price">€0,00</div>
                   </a>

                    <div class="item-actions item-actions-horizontal">    
                        <button class="button button-clear icon icon-plus button-addfirst addButtonAnim"></button>
                        <!--
                        <button class="button button-clear icon icon-minus"  ng-class="{'removeButtonAnim':!products[$index].quantity, 'button-remove':products[$index].quantity}" ng-click="removeQuantity($index); $event.stopPropagation()"></button>
                        <span ng-if="products[$index].quantity > 0">1</span>
                        <button class="button button-clear icon icon-plus"  on-hold="onHold($index)" ng-class="{'addButtonAnim' : !products[$index].quantity, 'button-add' : products[$index].quantity > 0}" ng-click="addQuantity($index); $event.stopPropagation()"></button>       
                        -->
                    </div>
                </div>

                <div class="col" >
                    <a href="#">
                        <div class="product-thumb">
                            <img src="http://placehold.it/180x180">
                        </div>
                        <div class="product-name">
                            <div>Item Name</div>
                            <span>Item Brand</span>
                        </div>
                       <div class="product-price">€0,00</div>
                   </a>
                    
                    <div class="item-actions item-actions-horizontal">                
                      <button class="button button-clear icon icon-plus button-addfirst addButtonAnim"></button>        
                    </div>
                </div>
            </div>

            <div class="row" >
                <div class="col"  ng-click="openDetails($index*2)">
                    <a href="#">
                        <div class="product-thumb">
                            <img src="http://placehold.it/180x180">
                        </div>
                        <div class="product-name">
                            <div>Item Name</div>
                            <span>Item Brand</span>
                        </div>
                       <div class="product-price">€0,00</div>
                   </a>

                    <div class="item-actions item-actions-horizontal">                
                        <button class="button button-clear icon icon-minus button-remove" ng-click="removeQuantity($index); $event.stopPropagation()"></button>
                        <span>1</span>
                        <button class="button button-clear icon icon-plus button-add"  on-hold="onHold($index)"  ng-click="addQuantity($index); $event.stopPropagation()"></button>       
                    </div>
                </div>
                
                <div class="col"  ng-click="openDetails($index*2+1)">
                    <a href="#">
                        <div class="product-thumb">
                            <img src="http://placehold.it/180x180">
                        </div>
                        <div class="product-name">
                            <div>Item Name</div>
                            <span>Item Brand</span>
                        </div>
                       <div class="product-price">€0,00</div>
                   </a>
                    
                    <div class="item-actions item-actions-horizontal">                
                        <button class="button button-clear icon icon-minus button-remove" ng-click="removeQuantity($index*2 +1); $event.stopPropagation()"></button>
                        <span>1</span>
                        <button class="button button-clear icon icon-plus button-add"  on-hold="onHold($index*2 +1)" ng-click="addQuantity($index*2 +1); $event.stopPropagation()"></button>       
                    </div>
                </div>
            </div>           


            <!-- ITEM ACCORDION -->
            <!-- VERIFICAR FUNCIONALIDADE -->
            <div class="list-subcategories">
                <div>
                    <ion-item ng-click="toggleSubCategory(subCategory)" ng-class="{active : subCategory.selected }">
                        <div>Categoria</div>
                    </ion-item>
                    <ion-item class="item-accordion selected" _ng-show="subCategory.selected" ng-click="goToProducts(item)">
                        <div>SUB CATEGORIA 1</div>
                    </ion-item>
                </div>
            </div> 



        </ion-content>
    </ion-pane>
</body>
</html> 