<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script type="text/javascript">angular.module('starter', ['ionic']);</script>

<link rel="stylesheet" href="../dist/lib/ionic/css/ionic.css">
  <link rel="stylesheet" href="../dist/css/mrs-lists.css">
</head>

<body ng-app="starter" >
    <ion-pane>
    <!-- START MODULE: quick-list + MRS-CHECKBOX-LISTS -->
            <div class="mrs-quick-list imageBackground listOpen" ng-if---="basket.itemsLength > 0" -- ng-class---="{'listOpen': listOpen}">
                
                 <div class="quick-list-header">               
                    <i class="icon icon-list" ></i>                
                    <div class="num-items"><strong>5</strong> {{'list.Products in list' | i18n}}</div>
                    <button class="button round-square mrs-button-light start-button" id="toggleButton" ng-click="openCloseList()">
                        <span ng-if="!isQuickListOpen">{{'list.Begin shopping' | i18n}}</span>
                        <span ng-if="isQuickListOpen">Pausa</span>
                    </button>   
                </div>

                <div class="list mrs-checkbox-list quick-list-content darkerBackground ">
                
                    <div class="item item-checkbox ng-valid right-icon lightText" ng-repeat--="item in basket.items">
                        <label class="checkbox checkbox-input-hidden checkbox-circle">
                            <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" class="ng-pristine ng-untouched ng-valid">
                            <i class="checkbox-icon"></i>                    
                            <div class="item-content">
                                <strong >2x</strong> Item Name
                                <span class="item-brand">Item Brand</span>
                                <span class="lineThrough"></span>
                            </div>
                        </label>
                        <i class="icon-right icon-info" ng-click="openDetailPop($index)"></i>
                    </div>

                    <div class="item item-checkbox ng-valid right-icon lightText" ng-repeat--="item in basket.items">
                        <label class="checkbox checkbox-input-hidden checkbox-circle">
                            <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" class="ng-pristine ng-untouched ng-valid">
                            <i class="checkbox-icon"></i>                    
                            <div class="item-content">
                                <strong >2x</strong> Item Name
                                <span class="item-brand">Item Brand</span>
                                <span class="lineThrough"></span>
                            </div>
                        </label>
                        <i class="icon-right icon-info" ng-click="openDetailPop($index)"></i>
                    </div>

                    <div class="item item-checkbox ng-valid right-icon lightText" ng-repeat--="item in basket.items">
                        <label class="checkbox checkbox-input-hidden checkbox-circle">
                            <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" class="ng-pristine ng-untouched ng-valid">
                            <i class="checkbox-icon"></i>                    
                            <div class="item-content">
                                <strong >2x</strong> Item Name
                                <span class="item-brand">Item Brand</span>
                                <span class="lineThrough"></span>
                            </div>
                        </label>
                        <i class="icon-right icon-info" ng-click="openDetailPop($index)"></i>
                    </div>

                    <div class="item item-checkbox ng-valid right-icon lightText" ng-repeat--="item in basket.items">
                        <label class="checkbox checkbox-input-hidden checkbox-circle">
                            <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" class="ng-pristine ng-untouched ng-valid">
                            <i class="checkbox-icon"></i>                    
                            <div class="item-content">
                                <strong >2x</strong> Item Name
                                <span class="item-brand">Item Brand</span>
                                <span class="lineThrough"></span>
                            </div>
                        </label>
                        <i class="icon-right icon-info" ng-click="openDetailPop($index)"></i>
                    </div>

                    <div class="item item-checkbox ng-valid right-icon lightText" ng-repeat--="item in basket.items">
                        <label class="checkbox checkbox-input-hidden checkbox-circle">
                            <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" class="ng-pristine ng-untouched ng-valid">
                            <i class="checkbox-icon"></i>                    
                            <div class="item-content">
                                <strong >2x</strong> Item Name
                                <span class="item-brand">Item Brand</span>
                                <span class="lineThrough"></span>
                            </div>
                        </label>
                        <i class="icon-right icon-info" ng-click="openDetailPop($index)"></i>
                    </div>

                    <div class="item item-checkbox ng-valid right-icon lightText" ng-repeat--="item in basket.items">
                        <label class="checkbox checkbox-input-hidden checkbox-circle ">
                            <input type="checkbox" ng-model="item.checked" ng-checked="item.checked" class="ng-pristine ng-untouched ng-valid">
                            <i class="checkbox-icon"></i>                    
                            <div class="item-content">
                                <strong >2x</strong> Item Name
                                <span class="item-brand">Item Brand</span>
                                <span class="lineThrough"></span>
                            </div>
                        </label>
                        <i class="icon-right icon-info" ng-click="openDetailPop($index)"></i>
                    </div>                                        
                </div>

                <button class="button bottom-button" ng-click="goToListPage()"> 
                    <i class="icon icon-edit"></i>
                    EDITAR LISTA
                </button>
            </div>
            <!-- END MODULE -->
        <ion-content>
        
            
        </ion-content>
    </ion-pane>
</body>
</html> 