<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
  <script src="lib/ionic/js/ionic.bundle.js"></script>
  <script type="text/javascript">angular.module('starter', ['ionic']);</script>

  <link rel="stylesheet" href="../dist/css/mrs-lists.css">
</head>
<body ng-app="starter">
    <ion-pane class="imageBackground">
     
      <ion-content class="lighterBackground">
        <div class="list mrs-basic-list mrs-settings-list">
            <div class="item item-divider">
                ITEM DIVIDER
            </div>               
            <div class="item item-toggle border-bottom">
               Setting
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-toggle">
                Setting
                <label class="toggle">
                    <input type="checkbox">
                    <div class="track">
                        <div class="handle"></div>
                    </div>
                </label>
            </div>
            <div class="item item-divider">
                Item divider
            </div>
                 <div class="item icon-right"  ng-click="editPersonal()">
                Option Parent 1
                <i class="icon icon-arrow-right"></i>
            </div>
            <div class="item icon-right"  ng-click="editPersonal()">
                Option Parent 2
                <i class="icon icon-arrow-right"></i>
            </div>                                                      
            <div class="item item-divider"></div>

            <div class="item" ng-click="logoutSettings()">Logout</div>
        </div>

        <div class="appversion">APP NAME<br/>BETA VERSION v0.2.8</div>

      </ion-content>
    </ion-pane>
</body>
</html>
