//VARIAVEIS DE CORES
$light:                           #fff !default;
$dark:                            #444 !default;

$base-color: #000;
$base-background-color: #F5F5F5;
$brand-color-primary:#1FA947;
$brand-color-secondary:#F5A523;
$highlight-color:#F5A523;
$titleColor: #444444;
$badge-color:#D0021B; 
$textColor:#5A5A5A;
$textColor-light: #777777;
$border-color: #DDDDDD;
$brand-color:$brand-color-primary;

///HEADER
$header-background-color:$brand-color-primary;
$header-color:#fff;

///FOOTER
$footer-background-color:#444;
$footer-color:$base-color;

