//VARIAVEIS DE FONTS
$font-path: "../lib/fonts" !default;
$font-version: "1.0.5" !default;
$font-family-sans-serif: "sans-serif-font";
$font-family-serif: "serif-font";
$font-icons: "customer-font";
$font-light: 300;
$font-regular: 400;
$font-semibold: 600;
$font-bold: 700;
$font-size-base: 14px;
$font-size-large: 18px;
$font-size-small: 11px;
$icon-font-size:40px;
$icon-font-size-big:60px;