/**
  * @stylesheet global.scss Global
  * 
  *
  * @description
  * All defined button styles and states belong here, including any "helper class" button style options, like `default`, `primary` etc.*
  * The same button styles have been applied to a button class, for use on other html elements emulating a button.
  *
  * @parent styleguide-baseline 0
  **/

/**
 * @styles headings Headings
 *
 * H tags defining a typographical heirarchy
 */


$bar-height: 44px !default;
$category-top-height: 160px;
$subcategory-top-height: 150px;
$quick-list-height:60px;
$footer-height:48px;

/// PRODUCT ITEMS & CATEGORIES
$cat-item-height: 150px;
$product-item-height: 240px;
$product-item-photo-height: 160px;

/// DROPDOWN MODAL
$dropdown-modal-height: 190px;

