///VARIAVEIS DE IMAGENS
$image-path: "../img/" !default;
$brandLogo: url($image-path + 'client-logo-color.svg');
$appBackground: url($image-path +  'backgrounds/gradientBackground.svg');
$loyalty-icon: url($image-path + 'loyalty-icon.svg');