@import 
'image-variables',
'button-variables',
'color-variables',
'font-variables',
'global-variables';


a{
	font-family: $font-family-sans-serif;
	text-decoration: none;
	color: inherit;
}
h1{
	font-family: $font-family-sans-serif;
	font-size: $font-size-large;
	font-weight: $font-light;
	&.title{
		text-transform: uppercase;
	}
}
h2{
	font-family: $font-family-sans-serif;
	font-size: $font-size-base + 1;
	font-weight: $font-light;
}
p{
	font-family: $font-family-sans-serif;
}
small{
	font-family: $font-family-sans-serif;
	font-size:$font-size-small;
	color: lighten($base-color, 50%);
}
hr{
	border:0;
	height:1px;	
	background-color: rgba(255,255,255,0.2);
	margin:10px 10px;
}

.displayBlock{
	display: block !important;
}
.hidden{
	visibility: hidden;
}
.content-wrapper-10{
	padding:10px;
}
.content-wrapper-20{
	padding:20px;
}

.transparentBackground{
	background-color:transparent;
}
.baseBackground{
	background-color:$base-background-color!important;
	margin-top:0;
	&.scroll-content{
		padding-top:0;
	}
}
.imageBackground{
	@include appBackgroundImage(normal);
	background-color:transparent;
	margin-top:0;
}
.imageBackground-transparent{
	@include appBackgroundImage('transparent');
	background-color:transparent!important;
	margin-top:0;
}
.darkBackground{
	background: rgba(0,0,0,0.8)!important;
	margin-top:0;
}
.lightBackground{
	background: rgba(255,255,255,0.2)!important;
	margin-top:0;
}
.darkerBackground{
	background: rgba(0,0,0,0.2)!important;
	margin-top:0;
}
.lighterBackground{
	background: rgba(255,255,255,0.8)!important;
	margin-top:0;
}
.no-margin{
	margin:0!important;
}
.no-padding{
	padding:0!important;
}
.no-border{
	border:0!important;
}
.border-all{
	border:solid 1px $border-color!important;
}
.border-left{
	border-left:solid 1px $border-color!important;
}
.border-right{
	border-right:solid 1px $border-color!important;
}
.border-top{
	border-top:solid 1px $border-color!important;
}
.border-bottom{
	border-bottom:solid 1px $border-color!important;
}
.darkBorder{
	border-color:rgba(0,0,0, 0.2)!important;
}
.lightBorder{
	border-color:rgba(255,255,255, 0.5)!important;			
}
.darkText{
	color:$dark!important;
	button{
		color:$dark!important;
	}
	.title{
		color:$dark;
	}
	h1{
		color:$dark;
	}
	h2{
		color:$dark;
	}
	h3{
		color:$dark;
	}
	p{
		color:$dark;
	}	
}
.darkerText{
	color:#000!important;
	button{
		color:#000!important;
	}
	.title{
		color:#000;
	}
	h1{
		color:#000;
	}
	h2{
		color:#000;
	}
	h3{
		color:#000;
	}
	p{
		color:#000;
	}	
}
.lightText{
	color:$light!important;	
	button{
		color:$light!important;
	}
	.title{
		color:$light;
	}
	h1{
		color:$light;
	}
	h2{
		color:$light;
	}
	h3{
		color:$light;
	}
	p{
		color:$light;
	}
}
.text-center{
	text-align: center;
}
.uppercase{
	text-transform:uppercase!important;
}
.round-square{
  @include border-radius(100px);
  -webkit-background-clip: padding-box;
}
.title{
	.icon{
		font-size: $icon-font-size + 10;		
		line-height:$bar-height;	
	}
}
.badge{
	color: $light;
	position: absolute !important;
	background-color:$badge-color!important;
}



.item-icon-left{
	position:relative;
}
.big-icon{
	font-size: $icon-font-size-big;
}
.mega-icon{
	font-size: $icon-font-size-big + $icon-font-size;	
}
.loading-spinner{
	position: absolute;
	display:block;
	text-align:center;
	padding:20px 0;	
 	width: 100%;
}

.empty-state{
	text-align:center;
	padding:40px;
	color:lighten($dark, 10%);
	font-size:$font-size-base - 2;
}

.item-actions{	
	position:absolute;	
	z-index: 99;
	text-align: center;
	.button{	
		&.icon:before{
			font-size:$icon-font-size!important;
		}	
	}
	.icon{
		font-size:$icon-font-size!important;
		color:transparentize($dark, 0.5);
		&.selected{
			color:$brand-color;
		}
	}
	.quantity{
		font-family: $font-family-sans-serif;
		font-size:$font-size-base + 2;
	}	
}

.promotion-info{
	.promotion-description{
	font-family: $font-family-sans-serif;
	font-weight:bold;
	color: $textColor;
	font-size:$font-size-base;
}
.promotion-price{
	@include boxSizing;
	position:relative;
	padding-left:35px;
	font-family: $font-family-sans-serif;					
	font-size: $font-size-large;
	font-weight:bold;
	color: $brand-color;
    min-width: 90px;					
	line-height: 25px;
	&:before{
		@extend .icon-promotion-full;	
		font-family: "customer-font";
		font-size:$icon-font-size;
		font-weight:normal;
		position:absolute;
		left:0;
		line-height:25px;
	}
}

}

.item-actions-vertical{	
	@include display-flex;
	@include flex-direction(column);
	right: 0px;
	top: 0px !important;
	// bottom: 0px;
	max-width:60px;
	height: 115px;
	// border-left: 1px solid $border-color;
	
    .icon{
    	@include flex(1,1, auto);
    	position:relative;
		width:60px;
		font-size:$icon-font-size + 2!important;
		&:before{
			display: block;
		    position: absolute;
		    -webkit-transform: translateY(-50%);
		    -ms-transform: translateY(-50%);
		    transform: translateY(-50%);
		    top: 50%;
		    left: 0;
		    right: 0;



		}
    }
}

.item-actions-horizontal{
	@include display-flex;
	@include flex-direction(row);
	// top:200px;
	bottom:0;
	padding: 0;
    margin: 0;
    width: 100%;
	// border-top: 1px solid $border-color;
	.icon{
		@include flex(1,1, auto);
		border:0!important;
		margin:0!important;
		padding:0!important;
	}	
}

.item-actions-horizontal-big{
	position:relative;
	height: auto;
	padding: 25px 0 30px 0;
	border:0;
	white-space:nowrap;
	span{
		display: none;
	}
	.button{
		display:inline-block;
		min-height: 70px;
		width:50%;
		span{
			display:block;
			padding:10px;
		}	
		&.icon:before{
			font-size: $icon-font-size-big!important;
		}
	}
}

.mrs-quick-list{
	@include box-sizing(border-box);
	@include transition(all 0.4s cubic-bezier(1, 0, 0, 0.82));
	position:relative;
	height:$quick-list-height;
	font-size: $font-size-base;
	line-height: $font-size-base + 2;	
	color:$light;
	z-index: 99;
	overflow: hidden;

	/* QUICK LIST HEADER */
	.quick-list-header{	
		@include box-sizing(border-box);
		height:$quick-list-height;
		padding: 0;
		font-weight: $font-light;	
		font-size:$font-size-base - 1;	
		.row{
			padding:0;
		}
		.icon{
			position: absolute;
			left: 0;
			top: 0;
			font-size: $icon-font-size-big - 10;
			line-height: $quick-list-height;
		}
		.num-items{
			padding:10px 10px 0 45px;			
		}		
		.button{
			margin-top:10px;						
		}	
		.mrs-button-small{
			margin-top:0;
			min-height: 34px!important;
			height: 34px!important;
			line-height: 12px!important;			
		}	
		#toggleButton{
			padding:0 40px;			
		}
		.continue-button{			
			text-align:left;
			padding-left: 35px;
			.icon{				
				&:before{
					line-height:34px;
				}
			}
		}
		.pause-button{			
			margin-top:0;
			margin-bottom:0;
		}		
	}

	.quick-list-content{
		height:100%;	
		padding-right: 10px;
		padding-left: 10px;		
		margin:0;	
	}

	.bottom-button{
		@include transition(opacity 0.7s ease-in);
		color: #000;
		width: 100%;
		margin:0;
		border-radius: 0;
		position: absolute;
		bottom: 0;
		left: 0;
		visibility: hidden;
		opacity:0;
		.button{
			margin:0;
		}		
	}	
}

.appversion{
	display:block;
	text-align:center;
	color:lighten($base-color, 40%);
	font-size:$font-size-base - 4;
	line-height:$font-size-base - 1;
}


.checkedItem{
	opacity:0.5;
	pointer-events: none;
	background-color:darken($light, 15%);
	.checkbox-icon{
		display:none;
	}
}


// PRICE STYLES
.item-price{
	font-family: $font-family-sans-serif;
	font-size:$font-size-large + 6;
	font-weight: $font-regular;
	span{
		font-size: $font-size-base;		
		display: block;
		text-decoration: line-through;
	}
}

// ++++ PAGE HOME +++ 
#page-home{	
	.search-bar{
		margin-bottom:5px;		
		.row{
			padding:0 0 0 5px;
		}
		// .col-20{
		// 	margin-left:5px;
		// }
		.search-item{
			@extend .col-80;
		}
	}
	.mrs-grid{
		.col{
			max-height:140px;
		}

	}	
	.suggested-products{
		h1{
			padding:10px;
			margin:0;
		}
		.slide-wrapper{
			position:relative;
		}
	}
}

// ++++ PAGE MORE +++ 
#page-more{
	.button-settings{
		margin-top:40px;
	}
	.mrs-grid-menu{
		@extend .no-margin;
		.row{
			margin:0;
		}
	}
}

// ++++ PAGE FAVORITES +++ 
#page-favorites{
	ion-header-bar{
		.select {
			display: block;
		}		
		.cancelselect{
			display: none;
		}
		.removeButton{
			display: none;
		}
	}

	.item-actions{
		.button{
			@include vertical-align;
			-webkit-transform: translateY(50%);
			-ms-transform: translateY(50%);
			transform: translateY(50%);
		}
	}

	&.editMode{
		.removeButton{
			display: block !important;
		}
		.bar-header{
			.title{
				display: none;
			}
			.button{
				.select{
					display: none;
				}
				.cancelselect{
					display: block;
				}
			}
			.back-button{
				display:none;
			}
		}
		.item-actions{
			-webkit-transform: translate3D(60px,0,0);
    		transform: translate3D(60px,0,0);
		}
	}	
}

// ++++ PAGE CATEGORIES +++ 
#page-categories{
	.mrs-grid{
		margin-bottom:20px;
		.row{
			.col{
				// min-height: 140px;
			}
		}
	} 
}

#page-products-list{
	.bar-list-actions{		
		
	}
}


//modal LIST
#list-modal{
	ion-footer-bar{
		padding:0;
		.button{
			margin:0;
			padding:0;
		}
	}
}
//modal SEARCH
#search-modal{
	.search-wrapper{
		width: 100%;
		.search-bar{
			width: 100%;		
			.button:before{
				line-height: 44px;
			}	
		}	
	}
	ion-footer-bar{
		padding:0;
		.button{
			margin:0;
			padding:0;
		}
	}	
}
#page-details{
	.details-item-photo{
		background-color:$light;		
		min-height: 185px;
		text-align:center;
		img{		
			width: auto;
			max-height:160px;
			margin:0 auto;
		}
	}
	#details-top{
		font-family: $font-family-sans-serif;
		min-height:90px;
		.row{
			position:relative;
			padding:10px;		
		}
		.item-name{
			font-size: $font-size-base + 2;
			font-weight: $font-regular;
			width:100%;
			span{
				display:block;
				color:lighten($textColor, 20%);	
				font-size: $font-size-base + 1;
			}
		}
		.item-price{
			min-width:80px;
			text-align:right;
		}
		.item-description{
			padding:20px 10px;
		}
	}
	.item-secondary-actions{
		position: absolute;
		bottom:0;
		margin: 0;
	}	

	.promotion-info{
		@include boxSizing;
		@include display-flex;
		@include flex-direction(row);
		@include justify-content(space-between);
		padding:15px;
		.promotion-description{
			font-size: $font-size-base + 2;
			max-width:45%;

		}
		.promotion-price{
			font-size: $font-size-large + 10;
			padding-left:50px;			
			line-height:35px;
			&:before{
				font-size: $icon-font-size-big;
				line-height:35px;
			}
		}
	}

	.promotion-date{
		@include boxSizing;
		display:block;
		padding:0 15px 10px 15px;
		font-family: $font-family-sans-serif;
		font-size:$font-size-base - 1;
		color:lighten($dark, 20%);
		text-align:center;
	}

}


// .horizontal-scroller{
// 	overflow: scroll;
// 	white-space: nowrap;
// 	height:47px;	  
//   	padding: 4px 0;
// 	.button{
// 		  line-height: 42px;
// 		  height: 40px!important;
// 		  min-height: 40px;
// 		  padding-right: 10px;
// 		  padding-left: 10px;

// 		&.active{
// 			@extend .imageBackground;
// 			background-size:200%;
// 			border:rgba(255,255,255,0.2);
// 			color: $light;	
// 		}
// 	}
// }

// .subheader-scroller{
// 	height:47px;
// 	padding:0;
// }
// .subheader-scroller ~ .has-subheader{
// 	top:91px!important;
// }

//LIST HEADER 
#page-list{
	.mrs-quick-list{
		#toggleButton{
			@include transform(translate3D(0,0,0));
		}		
		.button{
			line-height: 42px;
		}
	}
	.mrs-basic-list{
		margin-bottom: 0;
	}
	.bar-header{
		.headerButton{
			@include transform(translate3D(0,0,0));	
			@include transition(all 0.4s cubic-bezier(0.190, 1.000, 0.220, 1.000));
			font-size:$font-size-base - 1!important;		
			top:50%;
			margin-top:-22px;
			position:absolute;
			&.removeButton{
				left:5px;
				@include transform(translate3D(-110%,0,0));	
			}
			&.cancelButton{
				@include transform(translate3D(110%,0,0));	
			}
		}
	}
	.addNewProduct{		
		display:block;
		padding:0px 10px;
		margin:0;
		position:relative;
		form{
			padding:0;
			margin:0;
		}		
		.button{
			position:absolute;
			right: 20px;
			top: 0;
			z-index: 2;
			max-width:44px;
			max-height:44px;
			padding:0;
			&:before{
				line-height:44px;
			}
		}		
	}

	.item-actions{
		.button{
			@include vertical-align;
			-webkit-transform: translateY(50%);
			-ms-transform: translateY(50%);
			transform: translateY(50%);
		}
	}
	.headerList{
		top: $quick-list-height;
		height:$quick-list-height - 10!important;
		padding:0;

		.mrs-grid{
			margin:0;
			padding:0;
			width:100%;
			.row{
				margin:0;
			}
			.col{
				background:transparent;
				padding:0;
				margin:0;				
				&:after{
					content:"";
					position:absolute;
					display:block;
					width:1px;					
					left:0;
					top:8px;
					bottom:2px;
					background-color:rgba(0,0,0,0.2);
				}
				&:first-child:after{
					display:none;
				}
			}
			a{
				padding:0;
				min-height:50px;		
				.icon{
					font-size:$icon-font-size + 10;
					max-height: 41px;
					min-height: 41px;							
					&:before{
						position:relative;
						top:-6px;
					}
				}
				span{
					font-size:$font-size-small;
					opacity:0.5;
				}
			}
		}

		&:before{		
			height:$quick-list-height - 10!important;
		}
	}
	ion-content{
		top: $bar-height + $quick-list-height + 10;		
	}
	.item-checkbox{
		.icon-search{
			@include transform(translate3D(0,0,0));	
		}
	}
	&.editMode{
		.mrs-quick-list{			
			#toggleButton{
				@include transform(translate3D(0%,-150%,0));
			}
		}

		.bar-header{
			.headerButton{
				@include transform(translate3D(0,0,0));	
			}
		}
		.item-actions{
			-webkit-transform: translate3D(60px,0,0);
    		transform: translate3D(60px,0,0);
		}
	}
	.empty-state{
		>.icon{
			margin:0 auto 20px auto;
			height:110px;
			width:110px;
			position:relative;
		}
		.mrs-grid{
			margin:20px;
			border-top:solid 1px $border-color;
		}
	}		
}


//modal shopping list
#shopping-modal{
	ion-content{
		top:$quick-list-height; 
	}
	.bar-footer{
		.button{
			width: 100%;
		}
	}
}

.client-logo{
	background-image: $brandLogo;
	width: 100%;
	min-height: 200px;
	background-size: 180px;
	background-repeat: no-repeat;
	background-position: 50%;
	margin-top:10px;
}
.user-profile{
	display:block;
	text-align:left;
	padding-top:40px;	
	margin-bottom:10px;
	.profile-name{
		display:block;		
		padding:10px 0;
		text-align:left;
	}
	.col-photo{
		min-width:140px;		
	}		
	.profile-photo{
		display:block;
		width:100px;
		height:100px;
		margin:0 auto;			
		overflow:hidden;
		text-align:center;			
	}
	.balance-info{		
		text-align:left;				
		span{
			display:block;
		}
	}					
}
.user-actions{
	padding:20px 20px 0 20px;	
}

.favorite-store{
	padding:10px;
	text-align:left;
	padding-left:90px;
	min-height:60px;
	position:relative;
	&:before{				
		font-weight:normal;
		position:absolute;
		left:30px;
	}
	span{
		display:block;
		font-size:$font-size-base - 1;
		font-weight:normal;
		opacity:0.6;
	}
}


#page-stores{
	.list{
		.item{
	 		margin-bottom:1px;
			padding:10px 20px 10px 80px;
			.icon{
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);
			}
			&:before{
				position: absolute;
				right: 0;
				top: 50%;
				-webkit-transform: translateY(-50%);
				-ms-transform: translateY(-50%);
				transform: translateY(-50%);				
			}
		}
	}

}

#page-login{
	ion-content{
		@extend .content-wrapper-20;
		@extend .text-center;
	}
}


.activated{
	opacity: 1!important;
}

//PLATFORM

.platform-android.grade-a{
	.activated{
		opacity: 0.8!important;
	}
}

.platform-ios {
	// iOS has a status bar which sits on top of the header.
	// Bump down everything to make room for it. However, if
	// if its in Cordova, and set to fullscreen, then disregard the bump.
	&:not(.fullscreen) {
		.bar-header:not(.bar-subheader) {   
			&.item-input-inset .item-input-wrapper {
				margin-top: 0;
			}
			> * {
				margin-top: 20px;
			}
		}
	}

	.activated{
		opacity: 0.8;
	}

	.mrs-quick-list{
  		height: $quick-list-height + $ios-statusbar-height !important;	
	}
	.has-quicklist {
  		height: auto;
  		bottom: $quick-list-height + $ios-statusbar-height;

	}	
	// .mrs-quick-list-small {
 //  		padding-top:$ios-statusbar-height;
 //  		height:($quick-list-height / 2) + $ios-statusbar-height;
  		
	// }	
	// .has-quicklist-small {
 //  		height: auto;
 //  		bottom:($quick-list-height / 2) + $ios-statusbar-height;

	// 	.bar-header:not(.bar-subheader) {   
	// 		height:$bar-height;
	// 		> * {
	// 			margin-top: 0px!important;
	// 		}
	// 	}
	// 	.has-header{
	// 		top:$bar-height!important;
	// 	}
	// }	
	#page-list{
		.headerList{
			top: $quick-list-height + $ios-statusbar-height;
		}		
		.bar-header{
			.headerButton{
				margin-top:-12px;
			}
		}
		ion-content{
			top: ($bar-height + $ios-statusbar-height+ $quick-list-height) + 10;
		}

	}

	#page-favorites{
		.bar-subheader{
			top:$bar-height + $ios-statusbar-height!important;
		}
		&.editMode{
			ion-content{
				// ++++++ COMENTADO ATÉ COLOCARMOS O SECONDARY HEADER +++++++
				// ++++++ COM AS OPCOES ADICIONAR A LISTA / REMOVER   +++++++ 
				// top:118px!important;
			}
		}		
	}	

	#page-categories{
		ion-content{
			padding-top:$ios-statusbar-height;
		}
	}		
	
	#shopping-modal{
		ion-content{
			top:$quick-list-height + $ios-statusbar-height; 
		}
	}
}
